* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'organica';
  src: url('../font/Mootjunglefreeversion-Regular.ttf') format('truetype');
}

@mixin btn
{
       border-radius: 7px;
       padding: 13px
}
@mixin green-btn
{   
    @include btn;
    background-color: #26AE61;
    color: white;
    border: none;
}

@mixin white-btn
{  
    @include btn;
    border:  rgb(74, 173, 74) solid 1px;
    background-color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40rem;
  background-color: #E1FEE2;
  padding: 13px;
  padding-top: 6px;

  .logo {
    display: flex;
    align-items: center;
    img {
      max-height: 30px;
    }
    p {
      font-family: 'organica';
      font-size: xx-large;
    }
  }

  .links {
    display: flex;
    gap: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

    a {
      text-decoration: none;
      padding: 8px;
      color: #000;
      text-shadow: none;
      transition: text-shadow 0.4s ease-in-out;

      &:hover {
        text-shadow: 
         0 0 5px #aaffaa,
         0 0 10px #99ff99,
         0 0 20px #88ff88,
         0 0 30px #7fff7f;
      }
    }

    .phone {
      @include green-btn;
    }
  }
}

main
{
  padding: 10rem;
  padding-top: 3rem;
  background: radial-gradient(circle at center, white 50%, #DCF6E2);
  border-bottom-left-radius: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .btns
  {  
    display: flex;
    gap: 15px;
    .green-btn
    {
      @include green-btn;
    }
    .white-btn
    {
      @include white-btn;
    }

  
}

  
  
  .img-container
  {
      
      width: 30rem; /* adjust as needed */
      height: 30rem; /* circular base */
      background-color: #71D377;
      border-radius: 15%;
      border-top-right-radius: 50%;
      overflow: visible; /* allows child to pop out */
      display: flex;
      transform: translateX(-5%);
      transform: translatey(10%);
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      z-index: 1;
  }
  img
  {
    max-height: 35rem; 
    transform: translatey(-7.3%);
    z-index: 2;
  }
  p{
    margin: 10px;
  }
  .desc
  {
    padding: 10px;
    width:220px;
    background-color: white;
    border: rgb(74, 173, 74) solid 1px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: small;
    text-align: center;
  }
  .desc1
  { 
    margin: 10px;
    font-size:4cap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    span
    {
      color: #49AF75;
    }
  }
  .desc2
  {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #6f766f;
  }

  .media
  {
   display: inline-block;
   margin-top: 80px;
   padding: 10px;
   background-color: white;
   border: 1px rgb(74, 173, 74) solid;
   border-radius: 10px;
   a{
    margin: 13px;
    
   }
  }
  
}
